
@{
    ViewBag.Title = "RedirectRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2> Yönlendiriliyorsunuz</h2>

<br />
<hr />
    <h4>Lütfen hesabınızı e-posta adresinizden aktive ediniz...</h4>
    <p><h4>Böylece fotoğraf eklemeye ve beğenme yapmaya başlayabilirsiniz...</h4></p>
 
<script>
    $(function () {

        setTimeout(function(){window.location=" /Home/Login"},3000)

    })
   

</script>